.product-info {
  padding: 20px 0;

  &-header {
    .info {
      &-brand {
        @include text-style(13, $blue);
        font-weight: 700;

        &:active {
          opacity: 0.4;
        }
      }

      &-title {
        @include text-style(18, $dark);
        margin-bottom: 4px;
        font-weight: 400;
      }

      &-review {
        @include flexbox(start);
        margin-bottom: 16px;

        .star-rating-13 {
          margin-right: 8px;
        }

        p {
          @include text-style(13, $blue);
          font-weight: 700;
        }
      }
    }
  }

  &-price {
    margin-bottom: 14px;
    .info-original-price,
    .info-sale-price {
      @include flexbox(start);
    }

    .info-sale-price {
      margin-bottom: 12px;
    }

    .price-20 {
      margin-right: 4px;
    }

    .currency {
      @include text-style(16);
      font-weight: 700;
    }

    .discount-rate {
      @include inline-flexbox(start);
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      color: $blue;

      .rate {
        font-family: Tahoma;
      }

      .percent {
        font-family: $font-main;
      }
    }

    .price-off {
      .amount {
        font-weight: 400;
      }
    }

    .info-point {
      @include text-style(13, $secondary);

      strong {
        color: $blue;
      }
    }
  }

  &-delivery {
    padding-top: 12px;
    border-top: 1px solid $border;

    span {
      display: block;
      margin-bottom: 2px;
    }
  }
}
